:root {
    --bg: #121212;
    --bg-accent: #2b2b2b;
    --header: #1a1a1a;
    --text: #f0f0f0;
    --dark-text: #888;
    --accent: #6a42e3;
    --accent-focus: #4c319d;
    --card: #1f1f1f;
}

body {
    font-family: "Lucida Blackletter", "Segoe UI", sans-serif;
    margin: 0;
    background-image: url("/assets/banner/vert.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}